@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.left-right-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 70px);
    margin-top: 70px;
}

.left, .right {
    flex: 1;
    position: relative;
    
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px 60px;
}

.left .main-title {
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 0px;
    margin-bottom: 0;
}

.left .main-subtitle {
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 0;
    margin: 0;
}

.img {
    position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%); /* This centers the image */
}

.hero.img{
    width: 700px;
}

.blob.img {
    padding-top: 100px;
    width: 750px;
    height: 800px;
}

.left-hero__button {
    background-color: #ffffff00;
    color: #fff;
    width: 150px;
    height: 40px;
    border: #E25E3E 0.2em solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
    margin: 20px 10px;
  }
  
  .left-hero__button:hover {
    background-color: #E25E3E;
    cursor: pointer;
  }
  
  .left-hero__button svg {
    width: 20px;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
    margin: 0 0 0 20px;
  }
  
  .left-hero__button:hover svg {
    transform: translateX(5px);
  }
  
  .left-hero__button-text {
    margin: 0 25px 0 0;
  }
