.backGrnd {
    height: calc(100vh - 88px);
    margin-top: 88px;
    background: url("../../assets/hero-banner.jpg") no-repeat fixed center;
    background-size:cover;
}

.backGrnd:before{
    content: '';
    position: absolute;
    height: 100vh;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.6) 100%), linear-gradient(180deg, rgba(0,0,0,0.2) 0%, transparent 100%);
    z-index: 1;
  }